{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body text-center">
          <h1>내가 저장한 기사</h1>

          <ul class="list-group list-group-flush">
            {% for bookmark in user_bookmarks %}
              <li class="list-group-item">
                <span class="float-start">{{ bookmark.article.title }}</span>
                <form method="post" action="{% url 'news:bookmark_delete' bookmark.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm float-end">삭제</button>
                  <a href="{% url 'news:news_detail' bookmark.article.id %}" class="btn btn-primary btn-sm float-end">기사 보기</a>
                </form>
              </li>
            {% empty %}
              <li class="list-group-item">저장한 기사가 없습니다.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
